

header	{
	color: black;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10rem;
	background-color: black;
	padding: 1rem;
	align-content: center;
}

body	{
	background-color: #F0F0F0;
	padding: 3rem;
}

h1 {
	color: black;
	text-align: center;
	font-size: 2rem;
	font-family: 'DDINExpRegular';
	font-weight: normal; 
   font-style: normal;
}

h2 {
	color: black;
	font-size: 3rem;
	text-align: center;
	font-family: 'DDINExpRegular';
	font-weight: normal; 
   font-style: normal;
}

p {
	color: black;
	text-align: center;
	font-family: 'DDINExpRegular';
	font-weight: normal; 
   font-style: normal;
}

footer	{
	background-color: black;
	padding: 1rem;
}

